@{
    ViewData["Title"] = "Human Resource Database";
}
<br>
<div class="jumbotron">
    <h1>HRCentral Database</h1>
    <div class="alert alert-danger">
        <p class="lead">
            Access and activity inside the HRCentral Database is restricted and logged.
        </p>
        <a asp-action="index" asp-controller="home" class="btn btn-danger">Enter &raquo;</a>
        
    </div>
 
</div>
@*<div class="alert-primary" style="width:1000px;text-align: center;">
    <img class="img-thumbnail img-responsive"
         src="~/Log.png" alt="slide 1" />
</div>*@

