@model NewRepatriationViewModel
@{
    ViewData["Title"] = "Add Employee Repatriation";
    var relationshipSelectList = ViewData["Relationships"] as IEnumerable<SelectListItem>;
    var employeeSelectList = ViewData["Employees"] as IEnumerable<SelectListItem>;
    var responseMessage = TempData["Message"] == null ? string.Empty : TempData["Message"].ToString();
}
<h3>Add Repatriates</h3>
<hr style="padding: 0; border-color: blue;">
@if (!string.IsNullOrWhiteSpace(responseMessage))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        @Html.Raw(responseMessage)
    </div>
}

<div class="panel-body">
    <form asp-action="add" class="form-horizontal" method="post" role="form">
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        <br>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">Employee Repatriate Details</div>
                <div class="panel-body">
                    <br>
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label col-xs-4"></label>
                        <div class="col-xs-4">
                            <select asp-for="EmployeeId" class="form-control" asp-items="@employeeSelectList" required>
                                <option>--- Select Employee ---</option>
                            </select>
                        </div>
                        </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-xs-4"></label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" asp-for="Name" placeholder="Repatriate Names" required autocomplete="off" />
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label asp-for="RelationshipId" class="control-label col-xs-4"></label>
                        <div class="col-xs-4">
                            <select asp-for="RelationshipId" class="form-control" asp-items="@relationshipSelectList" required autocomplete="off">
                                <option>--- Select Relationship ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-10">
                            <input type="submit" class="btn btn-primary" value="Save" />
                           <a asp-action="index" class="btn btn-default">&laquo;&nbsp;&nbsp;Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

@section Scripts{
   
    <script>
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');

        $('#collapseTwo').addClass('in');
    </script>
    
   
}



