@model NewRelationshipViewModel
@{
    ViewData["Title"] = "Add Relationship";
    var responseMessage = TempData["Message"] == null ? string.Empty : TempData["Message"].ToString();
}
<h3>Add Relationship</h3>
<hr style="padding: 0; border-color: blue;">
@if (!string.IsNullOrWhiteSpace(responseMessage))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        @Html.Raw(responseMessage)
    </div>
}
<div class="panel-body">
    <form asp-action="add" class="form-horizontal" method="post" role="form">
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        <br>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Relationship Details</div>
                <div class="panel-body">
                    <br>
                    <div class="form-group">
                        <label class="control-label col-xs-4" asp-for="Title"></label>
                        <div class="col-xs-4">
                            <input asp-for="Title" type="text" class="form-control" placeholder="Relationship Title" data-val="true" data-val-required="Department title field is required." required autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-10">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            <a asp-action="index" class="btn btn-default">&laquo;&nbsp;&nbsp;Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script>
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');

        $('#collapseThree').addClass('in');
    </script>
}